<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" routerLink="">BOARDROOM BOOKER</a>
        <ul class="nav " routerLinkActive="active">
            <li class="nav-item"><a class="nav-item nav-link active" routerLink="">User</a></li>
            <li class="nav-item" *ngIf="name"><a class="nav-item nav-link active" routerLink="calendar">Calendar</a></li>
            <li class="nav-item" *ngIf="role=='admin'"><a class="nav-item nav-link active" routerLink="admin">Employee List</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>