<br><br>

<div class="container">
  <div class="row centered">
    <div class="col-lg-6">
      <div *ngIf="answer">
        <h3 class="text_answer">{{answer}}</h3>
      </div>
      <h3>Book a room!</h3>
      <form [formGroup]="form">
        <div class="form-group">
          <label for="exampleInputEmail1R">{{email}}</label>

        </div>
        <div *ngIf="errorDayPick">
          <h5 class="text_answer">{{errorDayPick}}</h5>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="form-group">
              <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="dateYMD"
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" required>
            </div>
            <div class=" form-group">
              <button class="btn btn-primary" (click)="datepickerYMD.toggle()"
                [attr.aria-expanded]="datepickerYMD.isOpen">Date Picker</button>
            </div>
          </div>
        </div>
        <div *ngIf="errorTimePick">
          <h5 class="text_answer">{{errorTimePick}}</h5>
        </div>
        <button type="button" class="btn btn-primary" (click)="toggleMode()">12H / 24H</button>
        <div class="form-group">
          <div class="row">
            <div class=" form-group">
              <label for="exampleInputEmail1R">Time start:</label>
              <timepicker formControlName="startTime" [showMeridian]="ismeridian" [minuteStep]="15" [min]="minTime"
                [max]="maxTime" required></timepicker>

            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class=" form-group">
              <label for="exampleInputEmail1R">Time end:</label>
              <timepicker formControlName="endTime" [minuteStep]="15" [showMeridian]="ismeridian" [min]="minTime"
                [max]="maxTime" required>
              </timepicker>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class=" form-group">
              <label for="exampleInputEmail1R">Note:</label>
              <textarea class="form-control" formControlName="note"></textarea>
            </div>
          </div>
        </div>
        <div *ngIf="errorBiWeekly">
          <h5 class="text_answer">{{errorBiWeekly}}</h5>
        </div>
        <div *ngIf="errorWeekly">
          <h5 class="text_answer">{{errorWeekly}}</h5>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="exampleInputEmail1R">Recurent event:</label>
            <div class="width-20px"></div>
            <button (click)="recEvent(true)" class="btn btn-primary">Yes</button>
            <div class="width-20px"></div>
            <button (click)="recEvent(false)" class="btn btn-primary">No</button>
          </div>
        </div>
        <div class="form-group" *ngIf="recurent">
          <div class="row">
            <div class="form-group">
              <label for="exampleInputEmail1R">Specify:</label>
              <br><input formControlName="rec" type="radio" id="weekly" name="rec" value="weekly">
              <label for="weekly">weekly</label>
              <br><input class="form-control" formControlName="numberWeeks" type="number" id="weeklyWe"
                name="numberWeeks" min="1" max="4"><span class="validity"></span>


              <br><input formControlName="rec" type="radio" id="bi_weekly" name="rec" value="bi_weekly">
              <label for="bi_weekly">bi-weekly</label>
              <br><input class="form-control" formControlName="numberWeeksBi" type="number" id="weeklyBi"
                name="numberWeeksBi" min="1" max="2"><span class="validity"></span>


              <br><input formControlName="rec" type="radio" id="monthly" name="rec" value="monthly">
              <label for="monthly">monthly</label>
              <br>

            </div>
          </div>
        </div>
        <button (click)="book()" type="submit" name="btnR" class="btn btn-warning"
          [disabled]="form.invalid">Book</button>
      </form>
      <br>
    </div>
  </div>
</div>




<!--<br><br>
<div class="container">
  <div class="row centered">
    <div class="col-lg-6">
      <h3>Book a room!</h3>
      <form (ngSubmit)="onSubmitReg(form1)" #form1="ngForm" [formGroup]="form">
        <div class="form-group">
          <label for="exampleNameR">Booked for:</label>

          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
              Button dropdown <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item">Action</a></li>
              <li role="menuitem"><a class="dropdown-item">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item">Separated link</a>
              </li>
            </ul>
          </div>

        </div>
        <div [formGroup]="form">
          <div class="form-group">
            <label for="exampleNameR">I would like to book this meeting on:</label>
            <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="dateYMD"
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" >
          </div>
        </div>


        <div class="form-group">
          <label for="exampleInputPassword1R">Password</label>
          <input required class="form-control" minlength="3" ngModel #passwordR="ngModel" type="password"
            name="passwordR" id="exampleInputPassword1R" placeholder="Password">
          <div class="alert alert-danger" *ngIf="passwordR.touched && !passwordR.valid">
            <div *ngIf="passwordR.errors.required">Password is required!</div>
            <div *ngIf="passwordR.errors.minlength">Password should be minimum
              {{ passwordR.errors.minlength.requiredLength }} characters!</div>
          </div>
        </div>
        <input type="submit" name="btnR" class="btn btn-primary" value="Registration" [disabled]="form1.invalid">
      </form>
    </div>
  </div>
</div>-->