<br><br>
<div class="container">
  <div class="row centered">
    <div class="col-lg-12">
      <h3 class="answer">{{answer}}</h3>
      <div *ngFor='let user of allUsers' class="margin-botton-50px">
        <h4><a href="{{user.email_to}}">{{user.name}}</a>
          <button (click)='idForUpdate(user.id)' (click)="updateDialog = !updateDialog" type="submit" name="btnUpdate"
            class="btn btn-success margin-20px">
            Edit</button>
          <button (click)="deleteDialog = !deleteDialog" (click)="idForDelete(user.id)" type="submit" name="btnDelete"
            class="btn btn-danger margin-20px">
            Delete</button>
          <h5>Status:
            <span *ngIf='user.status==1'> existing</span>
            <span *ngIf='user.status==0'> remote</span>
          </h5>
        </h4>

      </div>
      <div>
        <button (click)="addUser()" type="submit" name="btnAddUser" class="margin-botton-20px btn btn-info margin-20px">
          Add Employee</button>
      </div>
      <div *ngIf="showAddUser">
        <h3>Add Employee!</h3>
        <form (ngSubmit)="registrateUser(form1)" #form1="ngForm">
          <div class="form-group">
            <label for="exampleNameR">Name</label>
            <input required class="form-control" minlength="3" ngModel name="nameR" #nameR="ngModel" type="text"
              id="exampleNameR" aria-describedby="emailHelp" placeholder="Name">
            <div class="alert alert-danger" *ngIf="nameR.touched && !nameR.valid">
              <div *ngIf="nameR.errors.required">Name is required!</div>
              <div *ngIf="nameR.errors.minlength">Name should be minimum {{ nameR.errors.minlength.requiredLength }}
                characters!</div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1R">Email address</label>
            <input required email class="form-control" minlength="3" ngModel name="emailR" #emailR="ngModel"
              type="email" id="exampleInputEmail1R" aria-describedby="emailHelp" placeholder="Enter email">
            <div class="alert alert-danger" *ngIf="emailR.touched && !emailR.valid">
              <div *ngIf="emailR.errors.required">Email is required!</div>
              <div *ngIf="emailR.errors.email">Email is required!</div>
              <div *ngIf="emailR.errors.minlength">Email should be minimum {{ emailR.errors.minlength.requiredLength }}
                characters!</div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1R">Password</label>
            <input required class="form-control" minlength="3" ngModel #passwordR="ngModel" type="password"
              name="passwordR" id="exampleInputPassword1R" placeholder="Password">
            <div class="alert alert-danger" *ngIf="passwordR.touched && !passwordR.valid">
              <div *ngIf="passwordR.errors.required">Password is required!</div>
              <div *ngIf="passwordR.errors.minlength">Password should be minimum
                {{ passwordR.errors.minlength.requiredLength }} characters!</div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="form-group">
                <label for="exampleInputEmail1R">Specify the role:</label>
                <div class="form-check">
                  <input required class="form-check-input" type="radio" id="user" ngModel #role="ngModel" name="role"
                    value="user">
                  <label for="user">User</label>
                </div>
                <div class="form-check">
                  <input required class="form-check-input" type="radio" id="admin" ngModel #role="ngModel" name="role"
                    value="admin">
                  <label for="admin">Admin</label>
                </div>
              </div>
            </div>
          </div>
          <input type="submit" name="btnR" class="btn btn-primary" value="Registration" [disabled]="form1.invalid">
        </form>
      </div>
    </div>
  </div>
</div>


<app-dialog [(visible)]="deleteDialog">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12 center">
        <h2>Are you sure that you want to delete this employee?</h2>
        <div class="form-group">
          <div class="row btn-yes">
            <button (click)="delete()" type="submit" name="btnUpdate" class="btn btn-success ">Yes</button>
            <button (click)="noDelete()" *ngIf="closable" name="btnUpdate"
              class="btn btn-danger margin-20px">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="updateDialog">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12 center">
        <h2 class="answer">{{answerEdit}}</h2>
        <h2>Edit employee</h2>
        <form [formGroup]="form">
          <div class="form-group">
              <label for="exampleNameR">Name</label>
              <input class="form-control" minlength="3" name="name" formControlName="name" type="text"
                id="exampleNameR" aria-describedby="emailHelp" placeholder="Name">
          </div>
          <div class="form-group">
              <label for="exampleEmailR">Email</label>
              <input class="form-control" minlength="3" name="email" formControlName="email" type="email"
                id="exampleEmailR" aria-describedby="emailHelp" placeholder="Email">
          </div>
          <div class="form-group">
              <label for="examplePasswordR">Password</label>
              <input class="form-control" minlength="3" name="password" formControlName="password" type="text"
                id="examplePasswordR" aria-describedby="emailHelp" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1R">Role:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="user" name="role" formControlName="role" value="user">
              <label for="user">User</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="admin" name="role" formControlName="role" value="admin">
              <label for="admin">Admin</label>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1R">Status:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="existing" name="status" formControlName="status"
                value="existing">
              <label for="existing">Existing</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="remote" name="status" formControlName="status"
                value="remote">
              <label for="remote">Remote</label>
            </div>
          </div>
          <div class="form-group">
            <div class="row btn-yes">
              <button (click)="update()" type="submit" name="btnUpdate" class="btn btn-success ">Edit</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</app-dialog>